@page "/dishes/single/{id:int}"
@using Bestellservice4.Shared.Transfer
@using Microsoft.AspNetCore.Authorization
@using Newtonsoft.Json
@inject HttpClient Http
@inject NavigationManager NavManager
@attribute [Authorize(Roles = "Customer, Company, Admin")]

@if (Dish != null)
{
    <h3>@Dish.Title Allergene:</h3>

    <table class="table table-dark table-hover table-striped bg-opacity-50">
        <thead>
            <tr>
                <td>Allergen</td>
                <td>Bezeichnung</td>
                <td>Beschreibung</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var allergen in Dish.Allergens)
            {
                <tr>
                    <td>@allergen.Letter</td>
                    <td>@allergen.Title</td>
                    <td>@allergen.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

<AuthorizeView Roles="Admin" Context="Authorization">
    <Authorized>
        <EditForm Model="Allergen" OnValidSubmit="() => AddAllergen()" Context="EditForm">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>
            <div class="row">
                <div class="col col-1">
                    <label>Bezeichner</label>
                    <InputSelect class="form-control" @bind-Value="Allergen.Letter">
                        @foreach (var letter in Letters)
                        {
                            <option value="@letter">@letter</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Allergen.Letter"></ValidationMessage>
                </div>
                <div class="col col-2">
                    <InputLabel For="@(() => Allergen.Title)"></InputLabel>
                    <InputText class="form-control" @bind-Value="Allergen.Title"></InputText>
                    <ValidationMessage For="() => Allergen.Title"></ValidationMessage>
                </div>
                <div class="col col-8">
                    <InputLabel For="@(() => Allergen.Description)"></InputLabel>
                    <InputText class="form-control" @bind-Value="Allergen.Description"></InputText>
                    <ValidationMessage For="() => Allergen.Description"></ValidationMessage>
                </div>
                <div class="col col-1">
                    <button class="btn btn-primary mt-4" type="submit">Hinzufügen</button>
                </div>
            </div>
        </EditForm>
    </Authorized>
</AuthorizeView>


@code {
    [Parameter]
    public int Id { get; set; }
    public DishDto? Dish { get; set; }

    public AllergenDto Allergen { get; set; } = new AllergenDto();
    public char[] Letters { get; set; } = new char[] { 'A', 'B', 'C', 'D', 'E' };

    protected override async void OnInitialized()
    {
        Dish = await Http.GetFromJsonAsync<DishDto>($"/data/dishes/{Id}");
        if (Dish == null)
            NavManager.NavigateTo("/dishes/display");
        StateHasChanged();
    }

    public async void AddAllergen()
    {
        Allergen.DishId = Dish.Id;
        var response = await Http.PostAsJsonAsync<AllergenDto>("/data/allergen/add", Allergen);
        if (response.IsSuccessStatusCode)
        {
            var allergen = JsonConvert.DeserializeObject<AllergenDto>(await response.Content.ReadAsStringAsync());
            Dish.Allergens.Add(allergen);
            StateHasChanged();
        }
    }
}
